
.background {
  background-color: #269;
  background-image: linear-gradient(black 2px, transparent 2px),
    linear-gradient(90deg, black 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.info {
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 5%;
  left: 50%;
  font-size: 50px;
  color: black;
  background-color: grey;
  border-radius: 5px;
}

.node {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  background: white;
  cursor: move;
}

.stroke {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  position: absolute;
  font-size: large;
}

.menu{
  background: #bbb;
  position: absolute;
  left: -5%;
  top: 55%;
  width: 20%;
  height: 43.5%;
  border: 2px solid black;
  border-radius: 10px;
  z-index: 2;
}

.right {
  position: absolute;
  left: 25%;
  top: 0%;
  width: 50%;
  height: 100%;
}

.displaynode{
  background: #fff;
  position: absolute;
  border: 2px solid black;
  border-radius: 10px;
  width: 90%;
  height: 70px;
  font-size: 15px;
  user-select: none;
  text-align: center;
}

.displaynode header{
  color: black;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 5px;
  border-bottom: 2px solid black;
  user-select: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: rgb(255, 0, 0);
}

li:not(:first-child){
  margin: 60px 0%;
}

@media (prefers-color-scheme: dark) {
  .canvas {
    background-color: #363636;
  }
  .menu {
    background-color: #363636;
  }
  .displaynode {
    background-color: #363636;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  .displaynode header {
    color: white;
  }
}