body{
    background-image:
      repeating-linear-gradient(rgb(0, 0, 0) 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, rgb(0, 0, 0) 0 1px, transparent 1px 100%);
    background-size: 50px 50px;
    background-color: #bbb;
}

.node{
    background: #fff;
    position: absolute;
    transform: translate(-50%,-50%);
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    user-select: none;
    background-color: rgb(255, 0, 0);
    z-index: 1;
}

.node .content{
    position: absolute;
    left: -.75%;
    top: 100%;
    width: 100%;
    height: 300%;
    background: white;
    border: 2px solid black;
    visibility: hidden;
}

.node:hover .content{
    visibility: visible;
}

.node.active {
    cursor: move;
    user-select: none;
}

.displaynode{
    background: #fff;
    position: absolute;
    border: 2px solid black;
    border-radius: 10px;
    width: 90%;
    height: 11%;
    font-size: 15px;
    user-select: none;
}

.displaynode header{
    color: black;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding: 5px 5px;
    border-bottom: 2px solid black;
    user-select: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: rgb(255, 0, 0);
}

.node header{
    color: black;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
    padding: 10px 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    z-index: 0;
}

.menu{
    background: #bbb;
    position: absolute;
    left: -5%;
    top: 5%;
    width: 20%;
    height: 90%;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 2;
}

.in {
    position: absolute;
    left: -.5%;
    top: 55%;
    height: 10px;
    width: 10px;
    transform: translate(-50%,-50%);
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.out {
    position: absolute;
    left: 100.5%;
    top: 55%;
    height: 10px;
    width: 10px;
    transform: translate(-50%,-50%);
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.right {
    position: absolute;
    left: 25%;
    top: 0%;
    width: 50%;
    height: 100%;
}

.button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
}

.line {
    position: absolute;
    background-color: black;
}

ol{
    padding: 20%, 0%;
}

li{
    margin-bottom: 55%;
}